body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.actions {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #343a40;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #212529;
}
